@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap');

*,
body {
  font-family: 'Baloo Chettan 2', cursive;
}

body {
  background: linear-gradient(111.34deg, #7c99ac 0%, #ffefef 100%);
}

a {
  text-decoration: none;
  color: inherit;
}