@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap');

*, body {
  font-family: 'Baloo Chettan 2', cursive;
}

main {
  background: linear-gradient(111.34deg, #7C99AC 0%, #FFEFEF 100%);
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}